<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap.css")
</head>
<body>
    <div class="container">
        <div class="masthead">
            <h3 class="text-muted">MVC by Bootstrap</h3>
            <ul class="nav nav-justified">
                <li>@Html.ActionLink("Link 1","../")</li>
                <li>@Html.ActionLink("Link 2","../")</li>
                <li>@Html.ActionLink("Link 3","../")</li>
                <li>@Html.ActionLink("Link 4","../")</li>

             </ul>
         </div>
    
    <div class="jubotron">
        @RenderSection("featured", required: false)
        @RenderBody()
    </div>
    <div class="footer">
        by J An Wu
    </div>
    </div>
                

    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapjs")
    
</body>
</html>
